@import '../../theme/theme';

.ticket {
  width: 100%;

  td,
  th {
    border: 1px solid $light-grey;
    padding: 1rem;
  }

  .total {
    border-top: 3px solid $black;
  }

  .expected-total {
    color: $grey;
  }
}

.footnote {
  font-size: .7rem;
}
