@import 'src/theme/colors';
@import 'node_modules/bootstrap/scss/bootstrap';

body {
  background-color: $body-bg;
  font-family: "PT Serif Caption", "Times New Roman", serif;
  font-size: 1em;
}

:root {
  --amplify-font-family: "PT Serif Caption", "Times New Roman", serif;

}

.center {
  left: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.custom-switch {
  padding-left: 1rem;
}

.form-control, .form-select {
  background-color: $formfield-bg;
}

@mixin responsive-font-size($min-font-size: 10px, $viewport-unit: 1vmin, $max-font-size: null) {
  font-size: calc(#{$min-font-size} + #{$viewport-unit}) !important;
  word-wrap: normal;
  overflow-wrap: break-word;
  white-space: nowrap;

  @if $max-font-size {
    @media (min-width: 1200px) {
      font-size: $max-font-size !important;
    }
  }
}

.conference-title {
  @include responsive-font-size($min-font-size: 10px, $viewport-unit: 1vmin, $max-font-size: 20px);
}