@import '../theme/theme';

.logo {
  display: inline;
  height: 30px;
  margin-left: .5rem;
  margin-right: .5rem;
  width: 30px;
  
}

.profile {
  &.card {
    max-width: 1000px;
  }

  .form-control,
  .label {
    font-size: .9rem;
  }

  .price {
    max-width: 100px;
  }

  .days {
    margin-top: .5rem;

    th,
    td {
      border: 1px solid $light-grey;
      border-collapse: collapse;
      text-align: center;
      vertical-align: middle;
      width: 20%;
    }
  }
}

.nav-header {
  font-size: .8rem;
  padding: 1rem;

  h5 {
    display: inline;
    position: relative;
    top: .3rem;
  }

  .dropdown-divider {
    border-top-color: $shadow;
  }

  .nav-link {
    color: $white;
    margin: 5px;
  
    

    &:hover {
      background-color: white !important;
      color: rgb(130, 64, 64) !important;
      font-weight: bold;
    }

    &.active {
      background-color: $darker-shadow !important;
      font-weight: bold !important;
      
    }

    &.disabled {
      color: $light-grey;
    }
  }

  .dropdown-toggle {
    background-color: $header-bg !important;
    color: $white !important;
  }

  .dropdown-menu {
    background-color: $header-bg !important;
    font-size: .8rem !important;

    .disabled {
      color: $grey !important;
    }
  }

  .dropdown-item {
    color: $white;
    
    &:hover {
      background-color: white !important;
      color: rgb(130, 64, 64) !important;
      font-weight: bold;
    }

    &.active {
      background-color: $darker-shadow !important;
      font-weight: bold !important;
    }
  }

}

.profile-nickname {
  @include responsive-font-size($min-font-size: 12px, $viewport-unit: 1vmin, $max-font-size: 28px);
}

.cancel-button {
  @include responsive-font-size($min-font-size: 10px, $viewport-unit: .5vmin, $max-font-size: 16px);
}